<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<title>first</title>
</head>
<body>
	<h1>这是index的视图文件！！！</h1>
	<form action="http://localhost/phpframe/index/show" method="post" enctype="multipart/form-data">
		<input type="file" name="file1" />
		<input type="file" name="file2" />
		<button type="submit">提交</button>
	</form>
</body>
</html>